*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.main-div{
    display: flex;
}
.details-holder{
    width: 260px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    border: 1px solid purple;
    height: 30px;
    align-items: center;    
   
}
.nav-bar img{
    width: 30px;
    height: 30px;
    
}
#header{
    margin-left: 10px;
    color: red;
   
}
#home{
    background-color: white;
}
#home p{
    color: black;
}
#profile p{
    color: black;
}
.home{
     border: 0.5px solid purple;
    padding: 6px 6px 6px 6px;

}
#carrer_choice{
    background-color:rgb(226, 123, 226); 
}
#carrer_choice p{
    color: white;
}
#att p{
    color: black;
}
.profile-container{
    width: 30%;
    height: 510px;
    background-color: purple;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    
}
#profile_header_divider{
    border-top: 1px solid lightgreen;
}
.profile-details{
     margin: 10px 10px 10px 10px;
     border: 2px solid purple ;
     width: 100%;
     border-radius: 7px;
}

#profile_header{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 2px 2px 2px;
}

.right-section{
    flex:1;
display:flex;
flex-direction:column;
}
.main-div{
        overflow: auto;
}
.nav-bar-2{
    
height:30px;
width:100%;
background:#eaeaea;
border:1px solid grey;
display: flex;
}


.div{
    display: flex;
    flex-direction: column;
}
.header-photo{
    width: 30px;
    height: 20px;
    margin-left: 3px;
}
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 100vh;
}
#search-bar{
    border: 1px solid purple;
    padding: 4px 4px 4px 4px;
    margin-top: 2px;
    border-radius: 4px;
    margin-left: 150px;
    padding-right: 50px;
}
.fa-solid {
    margin-left: 100px;
    margin-top: 6px;
}
.test{
margin-top: 4px;
 margin-left: 4px;
}.dd{
    position: relative;
    display: inline-block;

   
}
.dd button{
      border: none;
      background-color:  rgb(235, 229, 229);    
}

.dc{
    display: none;
    position: absolute;
    background: lightgray;
    width: 100px;
    
   
}

.dd:hover .dc {
    display: block;
    background-color:white;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 2px 2px 2px 2px rgb(235, 229, 229); ;
}
.dd:hover .dc p{
    color: white;
    text-align: center;
}
.dv{
    background-color: purple;
     border-radius: 4px;
     width: 90%
}
.attendance_div_holder{
    border: 1px solid  rgb(230, 227, 227);
    width: 95%;
    margin: 4px auto;
    height: 50px;
    box-shadow: 3px 3px 3px rgb(230, 227, 227);
    display: flex;
    border-radius: 5px;
}
select{
    margin-left: 10px;
}
form p{
    margin-left: 10px;
}
.att_select{
    border: 1px solid green;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
}
#search_button{
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid purple;
}
#overflow_holder{
    overflow-y: auto;
}
th,td,tr{
    border: 2px solid purple;
}
.table_box{
    border-radius: 5px;
    border: 2px solid purple;
    padding: 11px 11px 11px 11px;
    width: 300px;
    margin: 6px auto;
}
td,th,tr{
    border-right: none;
}
th,td{
    border-bottom: none;
}
table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid #e6a3d9;
padding: 12px;
text-align: left;
}
th{
    background-color:rgb(179, 102, 179);
    font-style: normal;
    color: white;
}
.purple_color{
    background-color: rgb(255, 244, 255);
}
#purple_exception{
    background-color: rgb(255, 244, 255);;
}
.table_box{
    background-color: white;
}
@media (width >319px) and (width < 426px){
    #home p {
        display: none;

    }
    #home{
        background-color: white;
      
    }
    #fa{
        margin-left: 0px;
    }
    .details-holder{
        width: 14%;
    }
    .right-section{
        width: 86%;
    }
    #header{
        display: none;
    }
    .i img{
       margin-top: 8px;
       margin-left: 5px;
        width: 50%;
        height: 50%;
    }
   
    .fa-fort-awesome{
        margin-left: 0px;
    }
  
    .fa-clipboard-user{
        margin-left: 0px;
    }
    
    .fa-briefcase{
        margin-left: 0px;
    }
   
    .fa-free-code-camp{
        margin-left: 0px;
    }
   
    .fa-book{
        margin-left: 0px;
    }
  
    .fa-ticket{
        margin-left: 0px;
    }
    
    .fa-comment-nodes{
        margin-left: 0px;
    }

    .fa-address-card{
        margin-left: 0px;
    }
    .fa-wallet{
        margin-left: 0px;
    }
    .fa-message{
        margin-left: 0px;
    }
    .fa-message{
        margin-left: 0px;
    }
    .fa-book-open{
        margin-left: 0px;
    }
    .fa-user-graduate{
        margin-left: 0px;
    }
    .fa-person-chalkboard{
        margin-left: 0px;
    }
    .fa-bell{
        margin-left: 0px;
    }
    .fa-bullhorn{
        margin-left: 0px;
    }
    .fa-at{
        margin-left: 0px;
    }
    .fa-language{
        margin-left: 0px;
    }
    .fa-hotel{
        margin-left: 0px;
    }
    .fa-table{
        margin-left: 0px;
    }
    .fa-circle-check{
        margin-left: 0px;
    }
    .home{
        background-color: white;
    }
    .home p{
        display: none;
    }
   .main_box_holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .main_boxes{
    width: 140px;
   }
   #search-bar{
    display: none;
   }
   .header-photo{
    width: 40px;
    height: 30px
   }
   .table-holder{
    overflow: auto;
   }
   
}